using System.Diagnostics.CodeAnalysis;
using System.Web.Mvc;

namespace T4MVCHostMvc5App.Controllers {
    public class T4CtrlController : Controller {

        public T4CtrlController() {

        }

        [SuppressMessage("Microsoft.Naming", "CA1704:IdentifiersShouldBeSpelledCorrectly", MessageId = "Qqq")]
        public ActionResult Qqq() {
            return new EmptyResult();
        }
    }
}
